.calculatorCont {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 13px;
  background-color: white;
  box-shadow: -8px 10px 26px -8px rgba(0, 0, 0, 0.75);
}

.calculatorTitle {
  color: white;
  margin: 0 0 1rem;
  padding: 1rem 0;
  width: 22rem;
  background-color: black;
}

.calculator {
  width: 21rem;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.inputCont {
  width: 19rem;
  height: 3rem;
  text-align: right;
  background-color: rgb(81, 81, 81);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding: 0 1rem;
  margin: 0 0 1rem;
  border-radius: 13px;
  border: 1px solid black;
  box-shadow: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calculatorButton {
  padding: 1rem 2rem;
  width: 5rem;
  margin: 2px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
  border: 1px solid transparent;
  box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.318);
}

.calculatorButton:nth-child(1),
.calculatorButton:nth-child(2) {
  display: flex;
  justify-content: center;
  float: left;
}

.calculatorButton:active {
  background-color: #cfcfcf;
  transition: all 50ms ease-in-out;
  transform: scale(0.98);
  border: 1px solid black;
  box-shadow: 3px 3px 6px -2px rgba(255, 255, 255, 0);
}

.calculatorButton:nth-child(4),
.calculatorButton:nth-child(8),
.calculatorButton:nth-child(12),
.calculatorButton:nth-child(16),
.calculatorButton:nth-child(19) {
  background-color: rgb(255, 132, 0);
}

.calculatorButton:nth-child(-n+3) {
  background-color: rgb(199, 199, 199);
}

.calculatorButton:nth-child(17) {
  width: 10.2rem;
}

.calculatorButton:nth-child(-n+3):active {
  background-color: #afafaf;
}

.calculatorButton:nth-child(4):active,
.calculatorButton:nth-child(8):active,
.calculatorButton:nth-child(12):active,
.calculatorButton:nth-child(16):active,
.calculatorButton:nth-child(19):active {
  background-color: rgb(179, 93, 0);
  transition: all 50ms ease-in-out;
}
