.calculatorCont {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  border: 4px solid black;
  border-radius: 13px;
  background-color: white;
  box-shadow: -8px 10px 26px -8px rgba(0, 0, 0, 0.75);
}

.calculatorTitle {
  color: white;
  margin: 0 0 1rem;
  padding: 1rem 0;
  width: 22rem;
  background-color: black;
}

.calculator {
  width: 21rem;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.inputCont {
  width: 19rem;
  height: 3rem;
  text-align: right;
  background-color: rgb(216, 216, 216);
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  padding: 0 1rem;
  margin: 0 0 1rem;
  border-radius: 13px;
  border: 1px solid black;
}

.calculatorButton {
  padding: 1rem 2rem;
  width: 5rem;
  margin: 2px;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.1rem;
  border: 1px solid black;
}

.calculatorButton:active {
  background-color: #cfcfcf;
  transition: all 50ms ease-in-out;
}

.mathButtonH {
  background-color: rgb(199, 199, 199);
}

.mathButtonH:active {
  background-color: #afafaf;
}

.mathButtonV {
  background-color: rgb(255, 132, 0);
}

.mathButtonV:active {
  background-color: rgb(179, 93, 0);
  transition: all 50ms ease-in-out;
}

.zero {
  width: 10.2rem;
}
